<!-- Contact -->
  <section class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Get In Touch</h2>
        <p>Let's collaborate on innovative AI solutions</p>
      </div>
      <div class="contact-info">
        <div class="contact-item">
          <div class="contact-icon">📧</div>
          <a href="mailto:amr.mekki21@gmail.com" id="copy-email" style="cursor:pointer;">Email</a>
        </div>
        <div class="contact-item">
          <div class="contact-icon">💼</div>
          <a href="https://www.linkedin.com/in/amrmekki" target="_blank">LinkedIn</a>
        </div>
        <div class="contact-item">
          <div class="contact-icon">💻</div>
          <a href="https://www.github.com/AmrMekki" target="_blank">GitHub</a>
        </div>
        <!-- <div class="contact-item">
          <div class="contact-icon">📱</div>
          <a href="tel:+201009065067">(+20) 100 906 5067</a>
        </div> -->
      </div>
    </div>
  </section>
